<launch>
  <arg name="MACHINE" default="jaxonvision" />
  <include file="$(find dynamixel_hand)/launch/dynamixel_hand_controller_startup.launch">
    <arg name="namespace" value="right_hand_controller"/>
    <arg name="config_file" value="$(find dynamixel_hand)/config/right_hand.yaml"/>
    <arg name="usb_port" value="/dev/BandoHandR"/>
    <arg name="server_name" value="rhand_dynamixel_joint_trajectory_server"/>
    <arg name="MACHINE" value="$(arg MACHINE)" />
  </include>
</launch>
